.example-fill-remaining-space {
    flex: 1 1 auto;

}

.navbar-btn {
    margin-right: 0.5em;
    background-color: #132584;
    float: left;
    ;
}
.nav-item {
    position: relative;
    float: left;
    left: 300px;
    display: flex;
}