
<div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm centerDiv">
                <h1>Home</h1>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h3>Detail: lkasdfj;lkafj;lkasjf;dlajdsfl;kjasdf;lkfj;alksdfja;slkjf;laksjf;alskjf</h3>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                <div>
                    <div>
                        <h3>user recents if logged in or random fights</h3>
                        <p>
                            *ngIf=user.loggedIn .recentFights()
                            else randomFights()
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <h2>Recent Fights:</h2>
                    <h4>*recent fights*</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container fixed-bottom mb-2">
        <div class="row">
            <div class="col-12 mt-4">
                <button class="btn btn-primary nerdFight" routerLink="/battle">Nerd Fight!</button>
            </div>
        </div>
    </div>

</div>
